<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logosolo.png" />
	
	<title> Papu Store</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css" />
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css" />

</head>

<body>
	<!-- Header -->
	
	<!-- Header -->
	 <% if (logueado != true) { %>
		<%- include('./partials/headerNoLogueado.ejs') %>
	
	 <% } else { %>
		<%- include('./partials/headerLogueado.ejs') %>

	<% } %>
	<!-- Login -->

			<div class="login-container">
				<h2 class="login-title">Ingresar</h2>
				<form action="/" method="get" class="login-form">
				  <label for="usuario">Usuario:</label>
				  <input type="email" name="usuario" id="usuario" class="form-input" value="" required>
			  
				  <label for="contrase単a">Contrase単a:</label>
				  <input type="password" name="contrase単a" id="contrase単a" class="form-input" value="" required>
			  
				  <div class="checkbox-container">
					<input type="checkbox" id="recordarme" name="recordarme" value="">
					<label for="recordarme">Recordarme</label>
				  </div>
			  
				  <button type="submit" class="login-button">Enviar</button>
				</form>
		
	</div>
			  

	<!-- Footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- Footer -->

</body>

</html>